<div style="float:left;width:200px">

<div style="overflow:hidden;background:#f0f0f0;padding:5px 7px 5px 3px">
  <div style="text-align:center;font-size:15px">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </div>
  <%= calendar @date do |date| %>
   <div style="background:#fff"> <%= link_to date.day, :month=>date.month, :day=>date.day, :year=>date.year %></div>
  <% end %>
</div>

<div id="tag_cloud" style="margin-top:30px">

  <form class="filter_form", method="get">
  <% tag_cloud Event.tag_counts, %w[m m m] do |tag, css_class| %>
<div>   
 <%#= link_to tag.name, tag_path(tag.name), class: css_class %>
    <%= check_box_tag("tags[]", tag.name) %>
  <%=h tag.name %>
</div>
  <% end %>

<br/>


  <input type="submit" value="Filter" />
  </form>

</div>


</div>

<div style="float:left;width:500px;margin-left:80px;margin-top:-24px">

<%- model_class = Event -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>




<table class="table table-striped">
 

    <% @events.each do |event| %>

<div style="width:500px;border-bottom:1px solid black;overflow:hidden">    
    
<div style="float:left;width:50px"> <% if event.photo? %><a href="/events/<%=event.id%>"><%= image_tag event.photo.url(:thumb) %></a> <%end%></div>

<div style="float:right;width:440px">
        <%= link_to event.title, event %><br/>

      <%=event.event_date.try(:month)%>/<%=event.event_date.try(:day)%>/<%=event.event_date.try(:year)%> <%=event.start_time %><br/>
<%=event.address1%>, <%=event.city%>
      
</div>

</div>


    <% end %>
  </tbody>
</table>





</div>


<div style="float:right;width:300px">

<% if @events.size ==  0 %>

<%elsif @events.size==1 %>
<%= gmaps("markers" => {"data" => @json}, "map_options" => {"processing" => "json", "auto_adjust" => true, "auto_zoom" => false, "zoom" => 16}) %>
<%else%>

<%= gmaps("markers" => {"data" => @json}, "map_options" => {"processing" => "json", "auto_adjust" => true, "auto_zoom" => true}) %>
<%end%>
</div>



<%= yield :scripts %>
