<!DOCTYPE html>
<html>
<head>
  <title>Eventcalendar</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="http://jonthornton.github.io/jquery-timepicker/jquery.timepicker.js"></script>
  <link rel="stylesheet" type="text/css" href="http://jonthornton.github.io/jquery-timepicker/jquery.timepicker.css" />
  <%= csrf_meta_tags %>
</head>
<body>

 <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" style="font-size:40px;margin-top:10px" href="/">EventsCalendar</a>
        <div class="nav-collapse">
          <ul class="nav">
          
           </ul>


                     <a style="margin-top:18px;margin-left:200px" href="/events/new" class="btn btn-success">Add new event</a>

 <div style="float:right;width:300px;">
<%= form_tag events_path, :method => 'get' do %>
<br>
<p>
    <input id="search" name="search" placeholder="Search Events" type="text" />
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>


</div>
        </div>
      </div>
    </div>
  </div>



 <div class="container">
    <div class="row">
      <div style="width:1160px;overflow:hidden;margin-top:60px;"><%= yield %></div>
    </div>
  </div>



</body>
</html>
